@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  font-family: "Nunito Sans", sans-serif;
}

header {
  height: 95vh;
  background-image: url("/public/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

/*
Transparence background
*/
.overlay {
  background-color: rgba(255, 255, 255, 0.2);
}

/*
Gestion des hover
*/
.card-hover:hover {
  background-color: #efefef;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.btn-hover:hover {
  background-color: #3887fe !important;
}

.card {
  transition: background-color 0.4s ease;
}

.section-title {
  border-bottom: 3px solid #0d6efd;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

/*
Graduation compétences
*/
.bg-danger {
  width: 90%;
}

.bg-info {
  width: 80%;
}

.bg-warning {
  width: 70%;
}

.bg-success {
  width: 60%;
}

.bg-primary {
  width: 50%;
}
