/*
Custom active navbar
*/
.active-link {
  font-weight: bold;
  position: relative;
  color: #0d6efd !important;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 100%;
  background-color: #0d6efd;
  border-radius: 2px;
}

/*
Custom navbar background color
*/
.navbar .nav-link {
  color: white;
}
